<a href="#comment-<%= comment.id %>" title="">
  <time datetime="<%= comment.created_at.xmlschema %>">
    <%= format_comment_date(comment.created_at) %>
  </time>
</a>
<h3><%= author_link(comment) %> says:</h3>

<p><%= comment.body_html.untaint %></p>
