<article>
  <header>
    <h1><%= link_to(post.title, post_path(post), :rel => "bookmark") %></h1>
    <details open>
      <summary />
      <ul>
        <li><%= link_to(pluralize(post.approved_comments.size, "comment"), post_path(post, :anchor => 'comments')) %></li>
        <% unless post.tags.empty? -%>
          <li>tagged with <%= linked_tag_list(post.tags) %></li>
        <% end -%>
      </ul>
    </details>
  </header>

  <aside>
    <time datetime="<%= post.published_at.xmlschema %>">
      <%= link_to(post.published_at.to_s(:html), post_path(post), :rel => "bookmark") %>
    </time>
  </aside>

  <section>
    <%= post.excerpt_html.untaint unless post.excerpt_html.blank? %>
    <%= post.body_html.untaint if @show_whole_post || post.excerpt_html.blank? %>
  </section>

  <% if @show_whole_post %>
    <section>
      <h2 id="comments">Comments</h2>

      <ol>
        <% @post.approved_comments.each do |comment| -%>
          <li id="comment-<%= comment.id %>">
            <%= render :partial => 'comments/comment', :locals => {:comment => comment} %>
          </li>
        <% end -%>
      </ol>

      <% unless @comment.errors.empty? -%>
        <div class="errors">
          <h3>Comment not added!</h3>
          <ul>
            <% @comment.errors.sort_by(&:first).each do |error| -%>
              <li><%= format_comment_error(error) %></li>
            <% end -%>
          </ul>
        </div>
      <% end -%>

      <% form_for([@post, @comment]) do |form| -%>
        <div>
          <p>
            <label for="comment_author">
              Name or <a href="http://openidexplained.com/">OpenID</a>:
            </label>
            <%= form.text_field 'author' %>
          </p>
          <p>
            <%= form.hidden_field 'question' %>
            <label for="comment_answer"><%= @comment.question %></label>
            <%= form.text_field 'answer' %>
          </p>
          <p><%= form.text_area 'body' %></p>
          <p><%= submit_tag "Add Comment" %></p>
        </div>
      <% end -%>
    </section>
  <% end %>
</article>
